/* ELEMENT SELECTORS */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

/* CLASS IN ALPHABETIC ORDER */

.ai-center{
    align-items: center;
}

.bgc-boringblue{
    background-color: rgb(37, 137, 189);
}

.bgc-lightgray {
    background-color: lightgray;
}

.bgc-royalblue {
    background-color: royalblue;
}

.bgc-steelblue {
    background-color: steelblue;
}

.c-white{
    color: white;
}

.display-flex{
    display: flex;
}

.display-inline{
    display: inline;
}

.ff-impact{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.flex-grow1{
    flex-grow: 1;
}

.flex-1 {
    flex: 1 0 0;
}

.flex-grow3{
    flex-grow: 3;
}

.fw-700{
    font-weight: 700;
}

.fxd-column{
    flex-direction: column;
}

.fz-2{
    font-size: 2rem;
}

.gap{
    gap: 1.5rem;
}
.h-100vh{
    height: 100vh;
}

.jc-spacebetween {
    justify-content: space-between;
}

.list-none{
    list-style: none;
}

.mar-0{
    margin: 0;
}

.mar-left {
    margin-left: 1.5rem;
}

.mg-top{
    margin-top: 1.5rem;
}

.maxw-60{
    max-width: 60rem;
}

.pad-0{
    padding: 0;
}

.pad-15 {
    padding: 1.5rem;
}

.pad-3{
    padding: 3rem;
}

.pad-left{
    padding-left: 1.5rem;
}

.pad-right{
    padding-right: 1.5rem;
}

.txt-center{
    text-align: center;
}

.w-100 {
    width: 100%;
}



/* MEDIA QUERY */
@media (min-width:768px){
    .display-flex\@lrg {
        display: flex;
}
    .flex-grow1\@lrg {
        flex-grow: 1;
}

    .flex-grow3\@lrg{
        flex-grow: 3;
}            
    .mar-left\@lrg{
        margin-left: 1.5rem;
    }
}